* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';

}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;

}

/* .lightmode {

    background-color: white;
    color: black;
} */

/* .darkmode {

    background-color: black;
    color: white;
} */

.circlemode {

    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    cursor: pointer;
}


.main {

    width: 100%;
    height: auto;
}

.bac {
    width: 100%;
    height: 100%;
}

.top::before {

    content: "";
    background: url(Designer\ \(1\).jpeg);
    background-position: center;
    background-repeat: no no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: -1;
    filter: brightness(0.4);
}

.top {

    width: 100%;
    height: 60px;
    /* background-color: black; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 999;
    box-shadow: 2px 2px 12px 2px #8490ff;
    top: 2px;
}

.lists {
    display: flex;
    align-items: center;
}

.lists ul {

    display: flex;
    align-items: center;
}

.lists ul li {

    list-style: none;
    padding-right: 2rem;
}


.lists ul li a {

    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.icon i {

    display: none;
    cursor: pointer;
}

.outerbutton {

    height: 15px;
    width: 40px;
    background-color: grey;
    border-radius: 1.3rem;
    padding: 0.2rem;
    cursor: pointer;
    margin-left: 1rem;
}



#inner {

    height: inherit;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.5s linear;
}


.grid {

    margin-top: 4rem;
    height: 400px;
    /* max-width: 1280px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 8rem 1rem 0rem 1rem;
}


.box {

    width: 100%;
    height: 400px;

}


#box4 {


    margin-top: 6rem;
    padding: 0rem 2rem;
    box-sizing: border-box;

}

#box4 p {

    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#box1 {

    padding: 0rem 2rem;
    box-sizing: border-box;

}

#box1 p {

    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btns {

    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #8490ff;
    color: white;
    border: none;
    box-shadow: 2px 2px 12px 2px #8490ff;
    cursor: pointer;
    transform: translateY(0);
    animation: rising 2s 0s infinite forwards ease-in;
}

@keyframes rising {

    0%{

        transform: translateY(0);
        box-shadow: 2px 2px 12px 2px #8490ff;
    }

    50%{

        transform: translateY(0.5rem);
        box-shadow: 2px 2px 16px 2px #2a2f56;

    }

    100%{

        transform: translateY(0);
        box-shadow: 2px 2px 12px 2px #8490ff;
    }
    
}

.btns a {

    text-decoration: none;
    color: white;
}

#box2 {

    box-shadow: 3px 2px 22px 4px #8490ff;
    animation: rising 2s 0s infinite forwards ease-in;
}

#box2 img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}


#box3 {

    margin-top: 6rem;
    box-shadow: 3px 2px 22px 4px #6da4bb;
    /* animation: rising 2s infinite; */
}

#box3 img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

@media only screen and (max-width:1060px) {


    .icon i {

        display: block;
    }



    #tags {

        /* display:block; */
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 3.7rem;
        left: 0;
        transform: translateX(-15rem);
        color: white;
        background-color: black;
        transition: transform 0.5s;
        box-sizing: border-box;
        padding: 1rem 2rem;
        border-radius: 0rem 0rem 0.5rem 0rem;
    }

    #tags li {

        margin-bottom: 1rem;
    }



}


@media only screen and (max-width:850px) {

    .grid {

        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        max-width: 1280;
        margin-bottom: 90rem;

    }

    #box1 {

        padding-bottom: 3rem;
        height: 100%;
    }

    #box4 {

        padding-top: 3rem;
    }


    .grid2 {

        /* margin-top: 40rem; */
        /* max-width: 1280; */
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1rem;
        box-sizing: border-box;
        padding: 0rem 1rem;
    }

    .child {

        grid-column: 3 span;
        text-align: center;

        /* width: 600px; */
    }

    .child p {

        /* width:550px; */
        text-align: center;
    }


    .grid3 {

        grid-template-columns: 1fr;
        grid-row: 2rem;
        column-gap: 0;
    }

    .grand {

        grid-column: 2 span;

    }


    .grid4 {
        /* height: auto; */
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 4rem;
        /* margin-bottom: 5rem; */

    }

    .tags {


        margin: 1rem 0rem;
        width: 250px;
        grid-column: 4 span;
    }





    .slideshow {

        margin-top: 100rem;
    }




    .footer {

        grid-template-columns: 1fr;
        justify-items: flex-start;
        align-items: flex-start;
        height: auto;
    }

    .side {

        grid-column: 3 span;
        text-align: center;
        padding: 2rem 0rem;
    }

   




    /* 
.head2 p{

    /* padding: 0rem 0rem;
    margin: 0rem 0rem; */
}













.grid2 {

    margin-top: 40rem;
    max-width: 1280;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    box-sizing: border-box;
    padding: 0rem 1rem;

}

.child {
  
    box-sizing: border-box;
    text-align: center;
    padding: 2rem 0rem;
    border-radius: 1rem;

}


#child1 {

    grid-column: 3 span;
    text-align: center;
}


.grid2 p {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(165, 163, 163, 0.911);
    padding: 1rem 3rem;
    /* width: 260px; */
}


.up i {

    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;

}


/* .up:hover {

    color: #8490ff;
} */


.grid3 {

    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 8rem;
    


}


#grand1 {

    grid-column: 2 span;
    text-align: center;
    padding-top: 6rem;
   
}

#grand1 p{

    color: white;
}

.grand p {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(47, 45, 45);
    ;
    /* display: block; */
    line-height: 1.5rem;
}


.grand img {

    width: 100%;
    height: 100%;
    box-shadow: 3px 2px 22px 4px #808adf;
}


.grand {

    padding: 0rem 4rem;
}


.btns a {

    text-decoration: none;
    color: white;
}













/* lets deal with the grid no4 */

.grid4 {
    height: 600px;
    box-sizing: border-box;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0rem 2rem;
}


.tags {
    padding: 1rem 0rem;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
    border-radius: 0.5rem;
    background-color: white;
    color: black;
}

.circle {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(132 144 255 / 10%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.minicircle {

    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
}

.head1 {
    padding: 1rem 0rem;
    text-align: center;
}

.head1 p {
    padding-top: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.head2 {
    text-align: center;

}

.head2 p {

    margin: 1rem 0rem;
    padding: 10px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 1px solid rgb(117, 116, 116);
    /* border-bottom: 1px solid black; */
}

.bottom {

    margin-top: 1rem;
}

.bottom a {
    /* margin-top: 6rem; */
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.5rem 2rem;
    display: none;
}

.bottom h1 {

    display: block;
    padding-bottom: 1rem;
}




.grid5 {


    /* max-width: 1280; */
    margin-top: 10rem;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    /* line-height: 1rem; */
}

.grid5 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}






.slideshow {

    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 60, 60);
    overflow: hidden;
}

.portion {

    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate 10s linear infinite;
}


@keyframes animate {

    0% {

        transform: translateX(100%);
    }


    20% {

        transform: translateX(50%);
    }

    30% {

        transform: translateX(50%);
    }

    40% {

        transform: translateX(30%);
    }

    50% {

        transform: translateX(30%);
    }

    50% {

        transform: translateX(0%);
    }

    60% {

        transform: translateX(0%);
    }

    70% {

        transform: translateX(-50%);
    }


    75%{

        transform: translateX(-50%);
    }

    80% {

        transform: translateX(-50%);
    }

    100% {

        transform: translateX(-100%);
    }





}



.img {

    width: 300px;
    height: 250px;
    margin: 0rem 4rem;
}

.img img {

    width: 100%;
    height: 100%;
}



.footer {
    box-sizing: border-box;
    background-color: #04091e;
    max-width: 1280px;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0rem;
    justify-items: center;
    align-items: center;

}


.side {

    padding: 0rem 2rem;


}


.side h3 {


    color: white;
    margin: 1rem;

}





.side p {

    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1rem;
}

.search i {

    color: white;
    background-color: #8490ff;
    font-size: 1.5rem;
    position: relative;
    top: 0.5rem;
    right: 0.2rem;
    cursor: pointer;
}


#side1 {

    position: relative;
    top: 1rem;
}





.ic i {

    color: white;
    padding-right: 0.5rem;
    cursor: pointer;

}

.ic i:hover {

    color: #8490ff;
}

.search ::placeholder {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



#child2:hover{

    box-shadow: 2px 2px 20px 0px black;
    cursor: pointer;
    /* background-color: #481c15; */
    background-image: linear-gradient( to right , rgb(142, 110, 110), rgb(74, 29, 29), rgb(63, 20, 20));
    color: white;
}
#child3:hover{

    box-shadow: 2px 2px 20px 0px black;
    cursor: pointer;
    background-image: linear-gradient( to right , rgb(142, 110, 110), rgb(74, 29, 29), rgb(63, 20, 20));
    color: white;
}
#child4:hover{

    box-shadow: 2px 2px 20px 0px black;
    cursor: pointer;
    background-image: linear-gradient( to right , rgb(142, 110, 110), rgb(74, 29, 29), rgb(63, 20, 20));
    color: white;
}
#child5:hover{

    box-shadow: 2px 2px 20px 0px black;
    cursor: pointer;
    background-image: linear-gradient( to right , rgb(142, 110, 110), rgb(74, 29, 29), rgb(63, 20, 20));
    color: white;
}
#child6:hover{

    box-shadow: 2px 2px 20px 0px black;
    cursor: pointer;
    background-image: linear-gradient( to right , rgb(142, 110, 110), rgb(74, 29, 29), rgb(63, 20, 20));
    color: white;
}
#child7:hover{

    box-shadow: 2px 2px 20px 0px black;
    cursor: pointer;
    background-image: linear-gradient( to right , rgb(142, 110, 110), rgb(74, 29, 29), rgb(63, 20, 20));
    color: white;
}












/* //////////////////////////////////////////////////////////
 */


 .animated-text {

    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    line-height: 2.6rem;
    padding-bottom: 1rem;
}

.animated-text span {

    position: relative;
}

.animated-text span::before {

    content: "Developer";
    color: aqua;
    animation: words 20s infinite;
}

@keyframes words {

    0%,
    20% {
        content: "Developer";
        color: aqua;
    }

    21%,
    40% {

        content: "Creator";
        color: orange;
    }

    41%,
    60% {

        content: "Specialist";
        color: seagreen;
    }

    61%,
    80% {

        content: "Enthuastic";
        color: brown;
    }

    81%,
    100% {

        content: "Designer";
        color: rebeccapurple;
    }
}

.animated-text span::after {

    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color:black;

    border-left: 2px solid aqua;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {

    to {

        border-left: 2px solid white;
    }

}


@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {

        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{

        width: calc(100% + 8px);
    }

}








.spoiler {
    color: transparent;
    background-position: right;
    background-size: 100% 100%;
    background-image: linear-gradient(rgb(47, 45, 45), rgb(47, 45, 45));
    display: inline;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
  }
  .spoiler:hover {
    color: white;
    background-size: 0% 100%;
  }

